{% extends "LandingPage/base/blank_base.html" %} {% block content %}

<div class="h-screen w-full flex bg-gray-100 justify-between items-center">
  <div class="h-1/2 w-1/2">
    <canvas id="myChart"></canvas>
  </div>
  <div class="h-1/2 w-1/2">
    <canvas id="ageChart"></canvas>
  </div>
</div>

<div class="h-screen w-full flex bg-gray-100 justify-between">
  <div class="h-1/2 w-full">
    <canvas id="familyVotersChart"></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="/static/charts.js"></script>
{% endblock content %}
