{% extends "LandingPage/base/base.html" %} {% block content %} {% load static %}

<div class="h-screen w-full flex sm:flex-row flex-col bg-[#009541]">
  <div
    class="relative md:h-[90vh] md:mt-[10vh] md:w-1/2 h-screen w-full overflow-hidden rounded-lg"
    id="default-carousel"
    data-carousel="slide"
  >
    <!-- Item 1 -->
    <div
      class="hidden duration-700 ease-in-out flex items-center justify-center"
      data-carousel-item
    >
      <img
        src="media/magsasaka_carousel_image1.jpg"
        class="object-contain w-full h-full"
        border="0"
      />
    </div>
    <!-- Item 2 -->
    <div
      class="hidden duration-700 ease-in-out flex items-center justify-center"
      data-carousel-item
    >
      <img
        src="media/magsasaka_carousel_image2.jpg"
        class="object-contain w-full h-full"
        border="0"
      />
    </div>
    <!-- Item 3 -->
    <div
      class="hidden duration-700 ease-in-out flex items-center justify-center"
      data-carousel-item
    >
      <img
        src="media/magsasaka_carousel_image3.jpg"
        class="object-contain w-full h-full"
        border="0"
      />
    </div>
  </div>

  <div class="h-full w-full sm:w-1/2">
    <div class="flex flex-col items-center justify-center h-full w-full">
      <div class="w-full sm:w-1/2">
        <h1 class="text-6xl text-white font-bold text-center sm:text-start">
          MAGSASAKA
        </h1>
        <h1 class="text-6xl text-white font-bold text-center sm:text-end mt-2">
          PARTYLIST
        </h1>
        <h1 class="text-white text-center sm:text-end italic mt-2">
          "MAGKAKASAMA SA SAKAHAN, KAUNLARAN!"
        </h1>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'animation.js' %}"></script>
{% endblock content %}
