{% extends "UserAuthentication/base/base.html" %} {% block content %}

<div class="flex flex-col md:flex-row items-center h-screen">
  <div
    class="flex h-full bg-white md:w-1/2 rounded mt-6 mb-8 mb-4 justify-center items-centerv overflow-y-auto"
  >
    <form
      action="{% url 'register' %}"
      method="post"
      hx-push-url="true"
      hx-target="body"
      class="w-full  items-center md:p-20"
      autocomplete="off"
      onsubmit="return validateForm()"
      enctype="multipart/form-data"

    >
      <h2 class="text-2xl font-bold mt-6 text-center">
        BH Membership Registration
      </h2>

      {% csrf_token %} {% if form.errors %}
      <div class="alert alert-danger">
        <ul id="errorList" class="text-red-500">
          {% for field in form %} {% for error in field.errors %}
          <li><strong>{{ field.label }}:</strong> {{ error }}</li>
          {% endfor %} {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="flex flex-col">
        {% for field in form %} {% if not forloop.counter|divisibleby:"2" %}
        <div class="flex space-x-4 w-full">
          {% endif %}

          <div class="w-1/2">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
          </div>
          {% if forloop.counter|divisibleby:"2" %}
        </div>

        {% elif forloop.last and not forloop.counter|divisibleby:"2" %}
    </div>
       

      {% endif %} {% endfor %}
    </div>
      <div class="flex items-center justify-between mt-4">
        <button
          class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="submit"
        >
          Sign Up
        </button>
      </div>
      <div class="mt-4 text-center">
        <a
          class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
          href="{% url 'login' %}"
          >Already have an account? Sign In</a
        >
      </div>
    </form>
  </div>
  <div
    class="items-center justify-center h-full bg-primary md:w-1/2 hidden md:flex bg-[#970029]"
  >
    <img
      src="https://scontent.xx.fbcdn.net/v/t1.15752-9/439672685_420679090703762_8486968882737569941_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeH-8aL3Vu4ouBDVTRLDaXL3zGHwi9Eo0uzMYfCL0SjS7M_y1s5u9fN1t-geEwhzeL8fZgUfCVRFBFVayxq0rU9f&_nc_ohc=68ZgouT6VuAQ7kNvgEOwRGc&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QFTdPn0pav7TzkFHTF6c_jO9D9Mpt1tpo6s2r12ItQ9dw&oe=6655EA8A"
      class=""
      alt="BHs Logo"
    />
  </div>
</div>


<script>


  const validateForm = () => {
    const password = document.getElementById('id_password').value;
    // Add your password validation logic here
    // Example: Check if the password is at least 8 characters long
    if (password.length < 8) {
      alert('Password must be at least 8 characters long');
      return false;
    }
    // Add more validation rules as needed
    return true;
  }
</script>

{% endblock content %}
