{% extends "UserModule/base/base.html" %} {% block content %} {% load static %}
<div class="h-full  min-w-[1500px]  w-full flex flex-col flex-nowrap mb-4">
  <div class="w-1/2 h-full border border-black">
    <div class="h-6 w-full bg-[#009541]"></div>
    <div class="flex justify-between w-full h-24 ">
      <img
        src="/media/magsasaka_partylist_logo.png"
        alt="bh-logo"
        class="ml-4"
        border="0"
      />
      <div
        class="h-20 w-full"
       
      >
        <div class="flex flex-col h-40 items-center mt-2 ">
          <h1 class="text-4xl font-bold text-[#009541]">MAGSASAKA PARTYLIST</h1>
          <h1 class="text-xl font-bold text-red-600 text-center">MEMBERSHIP INSURANCE BENEFIT CARD</h1>
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full h-full ml-4 ">
        <div class="flex">
            <div class=" h-full w-1/4 ">
                <img
                  src="{{photo}}"
                  class="h-full w-full object-contain"

                  alt="profile picture"
                />
              </div>
              <div class="h-full w-full flex flex-col space-y-2 ">
                  <div class="w-[90%] h-[20%] mx-3  border border-black rounded rounded-lg">
                      <div class = "mx-2">
                          <h1 class = "text-xs">Name: </h1>

                          <h1 class = "font-semibold">{{current_user.last_name}}, {{current_user.first_name}} </h1>


                      </div>
                  </div>




                  <div class="w-[90%] h-[20%] mx-3  border border-black rounded rounded-lg">
                      <div class = "mx-2">

                          <h1 class = "text-xs">Province/District/City/Municapility/Barangay</h1>

                        <h1 class = "font-semibold">{{current_user.province}}/{{current_user.district}}/{{current_user.city_municipality}}/{{current_user.barangay}}</h1>

                      </div>
                  </div>
                  <div class="w-[90%] h-[20%] mx-3  border border-black rounded rounded-lg">
                      <div class = "mx-2">
                          <h1 class = "text-xs">Street/House No.:</h1>
                          <h1 class = "font-semibold">{{current_user.street}}/{{current_user.house_no}}</h1>

                      </div>
                  </div>
                  <div class="w-[90%] h-[20%] mx-3  border border-black rounded rounded-lg">
                      <div class = "mx-2">
                          <h1 class = "text-xs">Birthday/Age</h1>
                          <h1 class = "font-semibold">{{current_user.birthday}}/{{current_user.age}}</h1>

                      </div>
                  </div>
                  <div class="w-[90%] h-[20%] mx-3  border border-black rounded rounded-lg">
                      <div class = "mx-2">

                          <h1 class = "text-xs">Contact No./Precint No.:</h1>
                          <h1 class = "font-semibold">{{current_user.contact_number}}{% if current_user.precinct_number %}/{{current_user.precinct_number}} {% endif %}</h1>


                      </div>
                  </div>



              </div>

              </div>

        </div>
        <div class ="h-40 flex flex-col justify-end w-full">
            <div class = "flex">
                <div class="h-24 w-1/2 flex items-center justify-center bg-[#009541] " >
                    <img src = "{{qr_code}}" alt = "qr_code" class = "h-20 w-20 mr-12 mt-4 border border-black" />
                    
                </div>

                <div class="w-1/2 h-24  flex flex-col justify-end items-center ">
                    <div class="h-full w-1/2">
                        <img src="{{signature}}" class="h-full w-full object-contain" alt="signature">
                    </div>
                    <h1>Signature</h1>
                </div>
            </div>

            <div class = "w-full h-8 bg-[#009541] flex justify-center items-center">
                <h1 class = "text-2xl text-white italic font-semibold">"Magkasama sa Sakahan, Kaunlaran"</h1>
            </div>
        </div>






        </div>

  </div>
</div>
<a href="{% url 'logout' %}" class = "ml-3  p-1 bg-blue-500 font-semibold text-white rounded px-2">Logout</a>
<a href="{% url 'edit_profile' %}" class = "ml-3  p-1 bg-red-500 font-semibold text-white rounded px-2">Edit Profile</a>

</div>






{% endblock content %}
